.backgroundimg {
    background-image: url(Object.png);
    background-size: cover;
    background-position: center;
    color: white;
}

nav div a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    margin: 30px 150px;
}

nav div {
    margin: 30px 150px
}

h1 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 70px;
    font-family: system-ui;
}

.comment {
    text-align: center;
    font-family: system-ui;
    font-weight: bold;
}

div span {
    padding: 0 20px;
}

.register {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    background-color:rgb(194, 113, 255);
    border: none;
    padding: 10px;
    border-radius: 40px;
    padding: 20px;
    color: white;
}