.backgroundimg {
    background-image: url(Object.png);
    background-size: cover;
    background-position: center;
    color: white;
}

nav div a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
    font-family: system-ui;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    margin: 30px 150px;
}

nav div {
    margin: 30px 150px
}

h1 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 120px;
    font-family: system-ui;
}

.comment {
    text-align: center;
    font-family: system-ui;
    font-weight: bold;
}

.comment span {
    padding: 0 20px;
}

.register {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 200px;
    background-color:rgb(194, 113, 255);
    border: none;
    padding: 10px;
    border-radius: 40px;
    padding: 20px;
    color: white;
}

h2 {
    text-align: center;
    font-family: system-ui;
    font-weight: normal;
    font-size: 32px;
}

h2 span {
    font-weight: bold;
    color: rgb(194, 113, 255);
}

.walters img {
  border-radius: 50%;
}

.awards {
    display: flex;
    text-align: center;
    font-family: system-ui;
    justify-content: space-around;
    margin: 70px 90px 0 90px;
    padding-bottom: 80px;
}

.quote {
    background-color: rgb(194, 113, 255);
    display: flex;
    font-family: system-ui;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 70px 150px;
}

.weather img {
    padding-right: 40px;
}